:root {
  --default-font-size: 1rem;
}

html {
  color-scheme: light dark;
}

body {
  font-family:
    "SF Mono", "SFMono-Regular", ui-monospace, Menlo, Consolas,
    "Liberation Mono", monospace;

  max-width: 42rem;
  margin: 24px auto 24px auto;
  font-size: var(--default-font-size);
}

a {
  color: light-dark(black, white);
}

a:hover {
  text-decoration: none;
}

.navbar-links {
  padding-bottom: 24px;
}

.space-y-8 > :not(:last-child) {
  margin-bottom: 2rem;
}
