:root {
  --default-font-size: 1rem;
}

html {
  color-scheme: light dark;
}

body {
  font-family:
    "SF Mono", "SFMono-Regular", ui-monospace, Menlo, Consolas,
    "Liberation Mono", monospace;

  max-width: 42rem;
  margin: 24px auto 24px auto;
  font-size: var(--default-font-size);
}

a {
  color: light-dark(black, white);
}

a:hover {
  text-decoration: none;
}

.section-title {
  padding-top: 2rem;
  font-weight: bold;
}

.section-content {
  opacity: 0.8;
  font-size: 0.8rem
}

.demo-media {
  padding-left: 2rem;
  width: 300px;
}
